body{
    background-color: rgb(67, 67, 100);
}
html {
    scroll-behavior: smooth;
}

ul{
list-style-type: none;
float:right;
position: fixed; 
top: 0;
right: 0;
}
li{
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    padding: 10px 12px;
    margin-bottom: auto;
}
a{
    text-decoration: none;
    color:azure;
}
li a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(236, 45, 83);
    text-decoration-thickness: 5px;
}
section {
    padding: 20px;
    margin: 20px auto; /* Center the sections and add space around them */
    border-radius: 10px;
    box-shadow: 0px 0px 10px #eee;
}

section h1 {
    text-align: left;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(213, 224, 213);
    text-shadow: 1px 1px 1px rgb(201, 173, 121);
    font-size: 24px;
}

section p {
    font-size: 20px;
    text-align: left;
    color:rgb(70, 162, 209);
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    flex: 1;
    text-align: left;
    padding-right: 5px; 
}
.image {
    flex: 1;
    text-align: right;
}
.image img {
    max-width: 200%;
    height: 560px;
    border-radius: 15px;
    border: 5px solid #eee;
}
section ol{
    list-style-type: none;
}
.skill-text{
    color:burlywood;
}
.skill-text:hover{
    opacity: 1;
}
.certification-badge {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.certification-details {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}
.certification-badge:hover .certification-details {
    opacity: 1;
    visibility: visible;
}
.badge-img{
    width: 100px;
    height: auto;
}
#education {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    margin: 20px auto;
}
.education-item {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
    margin-bottom: 20px;
    position: relative;
}
.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}
.details {
    display: none; 
}
.education-item.open .details {
    display: block; 
}
.contact-form {
    background-color:rgb(155, 152, 152);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button[type="submit"] {
    background-color: #4ab0e7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #357ebd;
}
i:hover{
    opacity: 0.5;
}
#projects {
    text-align: center;
}

.project {
    margin: 20px;
    display: inline-block;
    position: relative;
    color:mintcream;
}

.project img {
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
    transition: transform 0.3s;
}
.project:hover .overlay {
    opacity: 1;
}

.project .overlay p {
    margin: 0;
}

.project .overlay a {
    text-decoration: none;
    color: #4ab0e7;
}
.project {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; 
    height: 50%; 
    background: rgba(0, 0, 0, 0.7); 
    transform: translateY(100%); 
    transition: transform 0.3s ease; 
}

.project:hover .overlay {
    transform: translateY(0); 
}